---
layout: default
---

<div id="layout" class="pure-g">

  <!-- sidebar -->
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <img class="logo" src="{{ site.baseurl }}/assets/images/logo-redone.svg" alt="Cantabile Jersey logo" />
      <div class="upcoming">
        {% include upcoming.html %}
      </div>
    </div>
  </div>

  <!-- main content -->
  <div class="content pure-u-1 pure-u-md-3-4">
    <div>

      <!-- content block -->
      <img class="pure-img center-block" alt="Cantabile Jersey group photo" src="{{ site.baseurl }}/assets/images/cantabile-group-small.jpg" srcset="{{ site.baseurl }}/assets/images/cantabile-group-medium.jpg 1500w, {{ site.baseurl }}/assets/images/cantabile-group-large.jpg 3000w">
      <div class="posts">
        <h1 class="content-subhead">About Us</h1>
        <section class="post">
          <header class="post-header">
            <section class="facebook-group">
              <a href="https://www.facebook.com/cantabilejersey/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z"/></svg>Visit our Facebook Group</a>
            </section>
            <h2 class="post-title">Cantabile Jersey</h2>
            <p class="post-meta">A mixed choir of around 30 voices that was formed specifically to sing church music</p>
          </header>
          <div class="post-description">

            <p><strong>Cantabile</strong> is a friendly SATB chamber choir specializing in performing the finest church music from the Renaissance to the present day. Regularly invited to sing Choral Evensongs, concerts and special services in the many beautiful churches in Jersey, we have also sung in English cathedrals (most recently Leicester in 2018 and Salisbury in 2022). In recent years the choir has sung regularly in Normandy & Brittany - in Coutances Cathedral and churches in Agon-Coutainville, Gratot & Virey in Normandy, and in Eglise St. Méen in Cancale, Brittany. The choir also occasionally sings for civic services, services of Confirmation and Ordination; for weddings and memorial services and also for corporate and private events.</p>

            <p>Our musical director, Graham Caldbeck, is one of the UK’s leading conductors of amateur choirs and brings a wealth of practical experience as a singer, conductor and teacher to our rehearsals. The choir meets on a Tuesday evening in St. Martin’s Parish Church between 7.30pm and 9.00pm. You are most welcome to attend a rehearsal on a trial basis and to sample the opportunity to improve your vocal and musical skills in a thoroughly enjoyable way.</p>

            <p>Between October 2021 and October 2022, the choir sang on 13 occasions in 8 different venues in Jersey and the UK,, encompassing choral evensongs, a service of Compline, a YouTube recording, carol services for Advent and Christmas, a Passiontide performance with young actors, several Sung Eucharists and a wedding.</p>

            <p>During the past year, the choir has performed over 50 works by 47 composers, ranging from the 16<sup>th</sup> century masters (including Tallis, Lassus, Victoria, Anerio, M. Praetorius, Weelkes & Ravenscroft) to the present day (including 12 works from this century by Sally Beamish, Howard Blake, Bob Chilcott, Ola Gjeilo, Peter Nardone, Arvo Pärt, Stephen Paulus, Will Todd, James Whitbourn & Philip Wilby.</p>

            <p>If you would like to receive the choir’s newsletter please sign up using the nearby link on this page, and if you are interested in joining us or booking us, please contact our Chairman Fred Benest on 863826.</p>

          </div>
        </section>
      </div>

      <!-- content block -->
      <div class="posts">
        <h1 class="content-subhead">Director Of Music</h1>
        <section class="post">
          <header class="post-header">
            <h2 class="post-title">Graham Caldbeck</h2>
            <p class="post-meta">Graham is also Director of Music at St Clement's Church.</p>
          </header>
          <div class="post-description">
            <p><img class="pure-img post-images" alt="Graham Caldbeck"  src="{{ site.baseurl }}/assets/images/graham-caldbeck-small.jpg" srcset="{{ site.baseurl }}/assets/images/graham-caldbeck-medium.jpg 800w, {{ site.baseurl }}/assets/images/graham-caldbeck-large.jpg 1600w">Graham Caldbeck is one of Britain's leading conductors of amateur choirs. He studied music at Trinity College, Cambridge, where he was a Choral Scholar, and has sung with the Cathedral Choirs of Guildford and Winchester. He holds both the Fellowship and Choir Training diplomas of the Royal College of Organists, is a former Assistant Organist at St. Martin-in-the-Fields and Director of Music at St Mary The Boltons in Chelsea. After initially working in schools in Cheshire and London, he headed the Hampshire Specialist Music Course before moving to the Royal College of Music. There he was Head of Undergraduate Studies and subsequently Head of Individual Studies between 1989-2004, and also conducted the RCM Chorus and Chamber Choir. For five years he was an External Examiner at the Guildhall School of Music & Drama.</p>
            <p>Graham was founder-conductor of the Winchester-based chamber choir Southern Voices in 1984 and directed it until 1999, appearing in the Southern Cathedrals’ Festival and also preparing concerts and recordings conducted by Richard Hickox (winning a Grammy for their 1993 Delius recording) and David Hill. Graham conducted the Somerset Chamber Choir between 1990-2017, working with many of the UK's most talented instrumentalists and soloists. Between 1996-2012 he conducted the Nonsuch Singers, a well-known central London chamber choir, and directed the Mayfield Festival Choir in East Sussex between 2005-2012. He is now conductor of the recently-founded chamber choir, Somerset Voices.</p>
            <p>His concerts have regularly been highlighted in the national press and broadcast on TV and radio, both in the UK and the USA, and he has worked with many of the UK's leading composers. He has conducted choirs for services in many UK cathedrals, including St. Paul's, Winchester, Salisbury, Wells, Truro, Hereford, Worcester, Brecon, Leicester, Ripon and York Minster.</p>
            <p>Graham now pursues a freelance career as conductor, organist, vocal coach and teacher. In 1992, 1994 and 1996, he conducted the Jersey Festival Choir as guest conductor with an RCM Orchestra. He moved to Jersey in September 2012 and is now also Director of Music at St Clement's Church.</p>
          </div>
        </section>
      </div>

      <!-- content block -->
      <div class="posts">
        <h1 class="content-subhead">Evening Prayer</h1>
        <section class="post">
          <header class="post-header">
            <h2 class="post-title">The History of Evensong</h2>
            <p class="post-meta">It remains a living part of the Anglican tradition</p>
          </header>
          <div class="post-description">
            <p><img class="pure-img post-images" alt="Image of a church" src="{{ site.baseurl }}/assets/images/canterbury-cathedral-small.jpg" srcset="{{ site.baseurl }}/assets/images/canterbury-cathedral-medium.jpg 820w">From the earliest days of the Church of England until the 1960s Sunday worship consisted mainly of Morning Prayer (or <em>Mattins</em>) and Evening Prayer (or <em>Evensong</em>). Holy Communion was only celebrated three or four times a year (which explains why you will find it somewhere in the middle of the Book of Common Prayer and not at the beginning). It was the Parish and People Movement (later to become the Parish Communion Movement), formed in 1949, that began the shift away from Mattins and Evensong towards weekly communion.</p>
          </div>
        </section>
      </div>

      <!-- footer -->
      <div class="footer">
        <p>Copyright &copy;2009-{{ site.time | date:"%Y" }} <a href="{{ site.url }}/">Cantabile Jersey</a>, All rights reserved.</p>
      </div>

    </div>
  </div><!-- end main content -->

</div>
