<hr>

<h2>
  Forthcoming Events
</h2>

<h3>2024</h3>

<p>
  <strong>Sunday 7 July at 7pm</strong><br>
  St Martin Parish Church<br>
  <i>Patronal Festival Choral Evensong</i>
</p>

<p>
  <strong>Saturday 28 September at 5pm</strong><br>
  Basilique Saint-Gervais, Avranches<br>
  <i>Harvest Choral Evensong</i>
</p>

<p>
  <strong>Sunday 29 September at 11am</strong><br>
  Coutances Cathedral<br>
  <i>Sunday Mass</i>
</p>

<p>
  <strong>Sunday 1 December at 6pm</strong><br>
  Grouville Church<br>
  <i>Advent Carol Service</i>
</p>

<p>
  <strong>Sunday 8 December at 6pm</strong><br>
  St Martin Parish Church<br>
  <i>Nine Lessons & Carols</i>
</p>

<hr>

<p>
  If you would like details of the music, please sign up to our newsletter.<br />
  <a class="pure-button" href="http://eepurl.com/bSyOgf">Newsletter Sign Up</a>
</p>
