* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* LAYOUT CSS */

#layout {
  padding: 0;
}

.header {
  top: auto;
  margin: 3em auto;
  text-align: center;
}

.sidebar {
  overflow: auto;
  color: #fff;
  background: #262262;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.content-subhead {
  font-size: 90%;
  padding: .4em 0;
  letter-spacing: .1em;
  color: #2b3990;
  border-bottom: 1px solid #cda349;
}

.content {
  padding: 2em 1em 0;
}

.posts {
  margin: 0 auto 2em;
  padding: 1.5em 2.5em;
  background-color: #fefefe;
}

.post-title {
  font-size: 2em;
  margin-top: .2em;
  margin-bottom: .2em;
  color: #262262;
}

.post-description {
  line-height: 1.8em;
  color: #222;
}

.post-meta {
  font-size: 90%;
  margin: 0 0 .6em;
  color: #777;
}

.post-images {
  margin: 0 0 1em 1em;
  max-width: 50%;
  float: right;
}

.footer {
  font-size: 80%;
  padding: 1em 0;
  text-align: center;
  color: #2b3990;
}

.footer a {
  text-decoration: none;
  color: #2b3990;
}

.footer a:hover,
.footer a:focus {
  border-bottom: 1px solid;
}

@media (min-width: 48em) {
  .content {
    margin-left: 25%;
    padding: 2em 3em 0;
  }

  .header {
    margin: 20% 1em 0;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

/* Above is the (edited) template, below extra customisations */

html,
button,
input,
select,
textarea,
.pure-g [class *='pure-u'] {
  /* Set your content font stack here: */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700
}

strong {
  font-weight: 700;
}

html {
  background-color: #ddd;
}

.logo {
  max-width: 80%;
}

.upcoming {
  font-size: .9em;
  margin: 1.5em auto;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.pure-button {
  color: #262262;
  background-color: #fff;
  margin-top: 2em;
  border-radius: .5em;
  font-weight: 700;
}

@media screen and (max-width: 35.5em) {
  img.post-images {
    float: none;
    padding: 0;
    margin: 1em 0;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .posts {
    padding: 1em;
  }
}

.upcoming-special {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 4px solid #cda349;
  border-radius: 8px;
  padding: 1em;
}

.facebook-group {
  float: right;
  display: inline;
  width: 9em;
  border: 2px solid #262262;
  border-radius: 1em;
  margin: 0 0 1em 1em;
  padding: 0.6em;
  background-color: inherit;
}

.facebook-group>a {
  color: inherit;
  text-decoration: none;
}

.facebook-group>a>svg {
  width: 2.5em;
  margin-right: 0.3em;
  fill: #262262;
}